body {
    min-height: 100vh;
    margin: 0;
    background-image: url('test.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2.custom-header {
    text-align: center;
    margin-bottom: 20px;
    color: #d32f2f;
    text-transform: uppercase;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9); /* Απαλό background */
}

input:focus, select:focus {
    outline: none;
    border-color: #d32f2f;
    box-shadow: 0 0 5px rgba(211, 47, 47, 0.5);
}

button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b71c1c;
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#login_section {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#logged_section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#profileForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

button#login, button#register {
    margin-top: 10px;
}

button#update, button#logout {
    margin-top: 10px;
}

/* Media Query για Mobile Συσκευές */
@media (max-width: 768px) {
    #login_section, #logged_section {
        padding: 15px;
    }

    input, select, button {
        font-size: 14px;
        padding: 8px;
    }
}
